head{width: 100%;
}

h1{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin: 0;
  background-color: #282828;
  border: 0;
  color: #FFFFFF;

}
body{
  background-color: #C8C8C8;
}

h2 { color: #7c795d; font-family: 'Source Sans Pro', sans-serif;
font-size: 28px;
font-weight: 400;
line-height: 32px;
margin: 0 0 24px;
}

h3 { color: #ff4411;
font-size: 48px;
font-family: 'Signika', sans-serif;
padding-bottom: 10px;
}

p { font-family: 'Inder', sans-serif;
line-height: 28px;
margin-bottom: 15px;
color: #666;
margin:0;
}

.undertext{
  font-family: 'Inder', sans-serif;
  color: blue;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #ff4411;
  margin:0;
}

.boxen{
  background-color: #C8C8C8;
  width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
.boxen2{
  background-color: #C8C8C8;
  width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.toppbox{
  background-color: black;
}
